.main-cta {
    text-align: center;
    background-color: #fff68f;

}

nav.site-main {
    margin: 0;
}

h1 {
    font-family: 'Pacifico', cursive;
    padding-bottom: 15px;
    color: white;
    text-shadow: 10px white;
    letter-spacing: 2px; 
}

div.jumbotron {
    background-color: #fff68f;
}
