div.main-cta {
    text-align: center;
    background-color: #fff68f;
    margin-bottom: 200px;
}

div.body {
    background-color: #fff68f;
}

nav.site-main {
    margin: 0;
}

div.main-cta h1 {
    font-family: 'Pacifico', cursive;
    padding-bottom: 45px;
    color: white;
    letter-spacing: 2px; 
    font-size: 100px;
}

div.jumbotron {
    background-color: #fff68f;
}

div.SearchBar {
    margin-bottom: 0;
}

.profile {
    font-family: 'Yantramanav', sans-serif;
    color: black;
}
