ul {
    list-style-type: none;
    text-align: left;
    margin-left: 20%;
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;

};

div.form {
    text-align: left;
    font-size: 30px;
}

span.prompt {
    font-family: 'Assistant', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;

}

.button {
    border-radius: 20px;
}

.submitButton {
    border-radius: 20px;
    margin-top: 5px;
}

.saveButton {
    border-radius: 20px;
    margin-top: 5px;
}