ul {
    list-style-type: none;
    text-align: left;
    margin-left: 20%;
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;

};

.prompt {
    text-align: left;
}

.prompt {
    font-family: 'Assistant', sans-serif;
    letter-spacing: 1px;
}

.button {
    border-radius: 20px;
}

.submitButton {
    border-radius: 20px;
    margin-top: 5px;
}