.header {
    margin: 0;
    font-size: 40px;
}

.SearchBar {
    font-size: 40px;
}

.glyph {
    font-size: 25px;
}

.Login {
    text-indent: 1250px;
    font-size: 20px;
}

.btn-margin {
    font-size: 20px;
}
