.navbar {
    margin-bottom: 0px;
    background-color: white;
}

/* .header {
    margin: 0;
    font-size: 60px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    border: 3px solid pink;
}

.SearchBar {
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-end;
    font-size: 40px;
    border: 5px solid blue;
    
}

.glyph {
    font-size: 40px;
}

.Login {
    text-indent: 1250px;
    font-size: 40px;
}

.btn-margin {
    font-size: 20px;
    border: 2px solid red;
}

.nav-items {
    border: 3px solid blue;
    display: flex;
    justify-content: flex-end;
} */
