.Products {
    background-color: #fff68f;
    border: solid #fff68f 2px;
}

.Products > h1 {
    text-align: center;
    font-family: 'Assistant', sans-serif;

}

.Products > ul {
    text-align: center;
    list-style-type: none;
}